<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.justwayward.reader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".ReaderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.SearchByAuthorActivity" />
        <activity android:name=".ui.activity.BookDetailActivity" />
        <activity android:name=".ui.activity.BooksByTagActivity" />
        <activity
            android:name=".ui.activity.BookReadActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity android:name=".ui.activity.TopCategoryListActivity" />
        <activity android:name=".ui.activity.SubCategoryListActivity" />
        <activity android:name=".ui.activity.SubjectBookListActivity" />
        <activity android:name=".ui.activity.SubjectBookListDetailActivity" />
        <activity android:name=".ui.activity.TopRankActivity" />
        <activity android:name=".ui.activity.SubRankActivity" />
        <activity android:name=".ui.activity.BookDiscussionActivity" />
        <activity android:name=".ui.activity.BookReviewActivity" />
        <activity android:name=".ui.activity.BookHelpActivity" />
        <activity android:name=".ui.activity.BookMaleActivity" />
        <activity android:name=".ui.activity.BookDiscussionDetailActivity" />
        <activity android:name=".ui.activity.BookReviewDetailActivity" />
        <activity android:name=".ui.activity.BookHelpDetailActivity" />
        <activity android:name=".ui.activity.BookDetailCommunityActivity" />

        <service android:name=".service.DownloadBookService" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="1105670298" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>
